<div class="comment-input">
  <!-- <textarea name="comment" id="comment" placeholder="Share your thoughts" cols="30" rows="5"> -->
  <form>
    <textarea
      (click)="commentInputFocus = true"
      name="comment"
      id="comment"
      placeholder="Share your thoughts"
      class="custom-scroll"
      [formControl]="comment"
      [class]="commentInputFocus ? 'focused' : ''"
    ></textarea>
    <div class="comment-actions">
      <button
        (click)="commentInputFocus = false"
        class="btn-secondary"
        type="button"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn-primary"
        (click)="postComment()"
        [disabled]="comment.invalid"
        [class]="comment.valid ? '' : 'disabled'"
      >
        @if(commentLoading){
        <div class="loader"></div>
        } @else{ Comment }
      </button>
    </div>
  </form>
</div>
