@use '../../../styles/_mixins.sass' as *
@use '../../../styles/_variables.sass' as *
@use '../../../styles/_functions.sass' as *


nav
    background: var(--bg-accent)
    
.max-width-wrapper
    width: 100%
    +flex-between($direction: row)
    gap: 1rem
    padding: 1rem



    
    