@use '../../../styles/_mixins.sass' as *
@use '../../../styles/_variables.sass' as *
@use '../../../styles/_functions.sass' as *


nav
    background: var(--bg-accent)
    
.max-width-wrapper
    height: 90px
    width: 100%
    +flex-between($direction: row)
    gap: 1rem
    padding: 1rem

    .profile-container 
        position: relative

        &:hover
            .logout
                opacity: 1

        .logout 
            cursor: pointer
            opacity: 0
            position: absolute
            bottom: -1rem
            right: 0
            padding: 0.5rem
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)
            border-radius: 10px
            background: var(--bg-accent)
            color: var(--text)
            transition: all 0.3s ease

            &:hover
                color: $clr-red





    
    