<form [formGroup]="postForm" (submit)="onSubmit()">
  <header class="flex-between">
    <h1>@if(blog) { Edit Post } @else { Create New Post }</h1>
    @if(blog) {
      <button class="btn-primary" type="submit">
        @if(isLoading){
        <div class="loader"></div>
        }@else{ Update Post}
      </button>
    } @else {
      <button class="btn-primary" type="submit">
        @if(isLoading){
        <div class="loader"></div>
        }@else{ Publish Post}
      </button>
    }
  </header>

  <div class="title">
    <input
      type="text"
      name="title"
      id="title"
      placeholder="New post title here..."
      formControlName="title"
    />
  </div>
  <div class="content">
    <!-- <textarea
      name="content"
      id="content"
      placeholder="Post content goes here..."
      cols="30"
      rows="10"
      formControlName="content"
    ></textarea> -->

    <p-editor formControlName="content" [style]="{ height: '320px' }" />
  </div>
</form>
