
<section class="grid">
  <form [formGroup]="signUpForm" (submit)="onSubmit()">
    <div class="intro">
      <h1>Get started</h1>
      <p>
        Create an account with us today to enjoy premium blogging experience
      </p>
    </div>

    <div class="input-sections">
      <div class="input-group">
        <!-- <label for="email">Username</label> -->
        <input
          formControlName="username"
          type="text"
          name="username"
          id="username"
          placeholder="Username"
        />
      </div>
      <div class="input-group">
        <!-- <label for="email">Email</label> -->
        <input
          placeholder="Email"
          formControlName="email"
          type="email"
          name="email"
          id="email"
        />
      </div>

      <div class="input-group">
        <!-- <label for="password">Password</label> -->
        <input
          formControlName="password"
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
      </div>
      <div class="input-group">
        <!-- <label for="password">Confirm Password</label> -->
        <input
          formControlName="confirmPassword"
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Confirm Password"
        />
      </div>
    </div>

    <button type="submit">Sign Up</button>
  </form>

  <div class="image"></div>
</section>
