<section class="grid">
  <form [formGroup]="signUpForm" (submit)="onSubmit()">
    <div class="intro">
      <h1>Get started</h1>
      <p>
        Create an account with us today to enjoy premium blogging experience
      </p>
    </div>

    <div class="input-sections">
      <div class="input-group">
        <!-- <label for="username">Username</label> -->
        <input
          formControlName="username"
          type="text"
          name="username"
          id="username"
          placeholder="Username"
          [style]="{
            borderColor:
              signUpForm.get('username')?.invalid &&
              signUpForm.get('username')?.touched
                ? 'var(--clr-red)'
                : ''
          }"
        />
        @if(signUpForm.get('username')?.invalid &&
        signUpForm.get('username')?.touched){
        @if(signUpForm.get('username')?.errors?.['required']){
        <small class="text-warning">Username is required</small>
        } }
      </div>
      <div class="input-group">
        <!-- <label for="email">Email</label> -->
        <input
          placeholder="Email"
          formControlName="email"
          type="email"
          name="email"
          id="email"
          [style]="{
            borderColor:
              signUpForm.get('email')?.invalid &&
              signUpForm.get('email')?.touched
                ? 'var(--clr-red)'
                : ''
          }"
        />
        @if(signUpForm.get('email')?.invalid &&
        signUpForm.get('email')?.touched){
        @if(signUpForm.get('email')?.errors?.['required']){
        <small class="text-warning">Email is required</small>
        } @if(signUpForm.get('email')?.errors?.['email']){
        <small class="text-warning">Invalid email format</small>
        } }
      </div>

      <div class="input-group">
        <!-- <label for="password">Password</label> -->
        <input
          formControlName="password"
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          [style]="{
            borderColor:
              signUpForm.get('password')?.invalid &&
              signUpForm.get('password')?.touched
                ? 'var(--clr-red)'
                : ''
          }"
        />
        @if(signUpForm.get('password')?.invalid &&
        signUpForm.get('password')?.touched){
        @if(signUpForm.get('password')?.errors?.['required']){
        <small class="text-warning">Password is required</small>
        } @if(signUpForm.get('password')?.errors?.['minlength']){
        <small class="text-warning"
          >Password must be at least 6 characters</small
        >
        }}
      </div>
      <div class="input-group">
        <!-- <label for="password">Confirm Password</label> -->
        <input
          formControlName="confirmPassword"
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Confirm Password"
          [style]="{
            borderColor:
              signUpForm.hasError('mismatch') &&
              signUpForm.get('confirmPassword')?.touched
                ? 'var(--clr-red)'
                : ''
          }"
        />
        @if(signUpForm.hasError('mismatch') &&
        signUpForm.get('confirmPassword')?.touched){
        <small class="text-warning">Passwords do not match.</small>
        }
      </div>
    </div>

    <button type="submit " class="btn-primary">
      @if(signUpLoading){
      <div class="loader"></div>
      }@else{ Create an account }
    </button>

    <div class="or">
      <span class="line"></span>
      <span>OR</span>
      <span class="line"></span>
    </div>

    <button type="button" class="btn-secondary" (click)="onGoogleSignup()">
      SignUp with Google
    </button>

    <p class="have-an-account">
      Don't have an account? <a class="link" routerLink="/auth/login">Login</a>
    </p>
  </form>

  <div class="image">
    <img src="assets/auth-hero.jpeg" alt="auth-hero-image" />
  </div>
</section>
